.add-note-container {
    border: 2px solid black;
    background-image: url('../../noteImages/blueRing.png') !important;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    color:black;
    width: 60%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
}

h2 {
    font-size: 2em;
    text-shadow: 0px 0px 4px whitesmoke;
    margin: 2px auto;
}
p {
    font-size: 1em;
    font-weight: bold;
    margin: 2px auto;
    text-shadow: 0px 0px 4px whitesmoke;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 10px;
}

a {
    margin: 5px auto;
}

.note-input-name {
    width: 70%;
    height: 50px;
    margin: 10px auto;
    font-size: 25px;
}

.note-input-content {
    width: 70%;
    height: 200px;
    margin: auto;
    font-size: 25px;
}

.note-name-label, .note-content-label {
    margin: 5px auto;
    font-weight: bold;
    text-shadow: 0px 0px 4px whitesmoke;
    font-size: 20px
}

button.submit-note-button {
    margin-top: 5px;
}