.Note {
    width: 280px;
    height: 180px;
    border: 2px solid black;
    background-image: url('../../noteImages/spaceBubbles.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    padding: 0px 5px;
    color: black !important;
}


