.Note {
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border: 2px solid blue;
    margin-bottom: 5px;
    padding: 0px 0px 0px 0px;
    overflow: scroll;
    background: url(../../noteImages/waterBubbles.png);
    background-size: contain;
    color: white;
}


