.Note {
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border: 2px solid blue;
    margin-bottom: 5px;
    padding: 0px 5px;
    background: url(../../noteImages/spaceBubbles.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: black !important;
}


