* {
  box-sizing: border-box;
}
html {
  background: url('./Images/postItNotes.jpg');
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

header h1{
 text-align: center;
}

button {
  border-radius: 50%;
  height: 60px;
  font-weight: bold;
  color: 3px solid hsla(240, 50, 50, 1);
  background-color: aqua;
}

.NoteListMain ul {
  list-style-type: none;
  display: inline-block;
  position: absolute;
  right: 0;
  width: 600px;
}

